.header-background{
    background-color: #FFF9F4;
}
.card-background{
    background-color: #F1F1F1;
}
.price-color{
    color: #FA804C;
}
.button-color{
    background-color: #3D4FF3 ;
    color:white;
}
.text-color{
    color: #FA804C;
}